<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <!-- Contenuto principale (elementi del menu) -->
      <div class="row">
        <div class="col-md-4" *ngFor="let item of menuItems">
          <!-- Card degli elementi del menu -->
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ item.itemName }}</h5>
              <p class="card-text">
                Preparation Time: {{ item.preparationTime }} min
              </p>
              <p class="card-text">Price: {{ item.price }} €</p>
              <button
                class="btn btn-primary"
                (click)="addToCart(item._id, item.itemName)"
              >
                Add to Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Barra laterale con carrello e pulsante Invia Ordine -->
    <div class="col-md-4">
      <div class="sticky-top" style="top: 100px">
        <!-- Elementi del carrello con barra di scorrimento -->
        <div class="mt-4">
          <h3>Cart</h3>
          <!-- Aggiungi condizione *ngIf per il pulsante "Svuota Carrello" -->
          <button
            *ngIf="cartItems.length > 0"
            class="btn btn-danger mb-2"
            (click)="svuotaCarrello()"
          >
            Empty Cart
          </button>
          <div class="cart-scroll mt-4">
            <!-- Aggiungi classe CSS "cart-scroll" per abilitare la barra di scorrimento -->
            <div *ngFor="let item of cartItems; let i = index">
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">{{ item.itemName }}</h5>
                  <p class="card-text">Count: {{ item.count }}</p>
                  <!-- Aggiungi spazio tra i bottoni -->
                  <button
                    class="btn btn-danger mr-2"
                    (click)="rimuoviElemento(i)"
                  >
                    Remove All
                  </button>
                  <button
                    class="btn btn-success mr-2"
                    (click)="aumentaQuantita(i)"
                  >
                    +
                  </button>
                  <button class="btn btn-warning" (click)="riduciQuantita(i)">
                    -
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-4 mb-4">
          <button class="btn btn-success w-100 mb-4" (click)="avviaOrdine()">
            Send Order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
