<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h3 class="bg-success text-white p-2">Items</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Preparation Time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>{{ item.itemName }}</td>
            <td>{{ item.itemType }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.preparationTime }}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteItem(item._id)">Delete Dish</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
