<div class="container mt-4">
  <h3>Orders Queue</h3>
  <div *ngIf="orders.length > 0; else emptyQueue">
    <ng-container *ngFor="let order of orders; let first = first; let last = last">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered mt-5 mb-3" [ngClass]="{'table-success': isOrderCompleted(order), 'table-danger': !isOrderCompleted(order)}">
            <thead>
              <tr>
                <th>Start Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ order.timeStarted | date:'dd/MM HH:mm' }}</td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="orderCompleted(order.idTable, order._id)" *ngIf="isOrderCompleted(order) && first">
                    Order Finished
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered mb-5">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of order.items" [ngClass]="{'table-success': item.state === 'completed', 'table-danger': item.state === 'notcompleted'}">
                <td>{{ item.idItem.itemName }}</td>
                <td>{{ item.count }}</td>
                <td>{{ item.state === 'completed' ? 'Completed' : 'Not Completed' }}</td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="itemCompleted(order.idTable, order._id, item.idItem._id)" *ngIf="item.state === 'notcompleted' && first">
                    Item Finished
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <hr *ngIf="!last">
        </div>
      </div>
    </ng-container>
  </div>
  <ng-template #emptyQueue>
    <p>Any order at the moment.</p>
  </ng-template>
</div>

