<div class="container mt-4">
  <h2>Tavoli</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let table of tables">
      <div class="card mb-4">
        <div class="card-body" [ngClass]="{'bg-warning': table.group !== null, 'bg-success': table.group === null}">
          <h5 class="card-title">{{ table.tableNumber }}</h5>
          <p class="card-text">Table capacity: {{ table.maxSeats }}</p>
          <ng-container *ngIf="table.group !== null">
            <hr>
            <button [routerLink]="['/cashier-dashboard/tables', table._id]" class="btn btn-primary btn-block">Visaulize table details {{table.tableNumber}}</button>
            <ng-container *ngIf="selectedTable === table._id">
                    <div *ngIf="ordersForTable.length > 0">
                      <h5>Ordini per il tavolo</h5>
                      <ul>
                        <li *ngFor="let order of ordersForTable">
                          <p>Stato dell'ordine: {{ order.state }}</p>
                          <p>Data di inizio: {{ order.timeStarted | date:'dd/MM/yyyy HH:mm:ss' }}</p>
                          <ul>
                            <li *ngFor="let item of order.items">
                              <p>Nome : {{ findItemName(item.idItem) }}, Quantità: {{ item.count }}</p>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>



            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
