<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <!-- Rimuovi la card -->
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Number of People</th>
              <th>Start consuming</th>
              <th>End consuming</th>
              <th>Cost Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of groups">
              <td>{{ group.numberOfPerson }}</td>
              <td>{{ group.dateStart | date : "dd/MM HH:mm" }}</td>
              <td>{{ group.dateFinish | date : "dd/MM HH:mm" || "NA" }}</td>
              <td *ngIf="group.idRecipe">
                {{ getRecipeById(group.idRecipe)?.costAmount?.toFixed(2) }} $
              </td>
              <td *ngIf="group.idRecipe">
                <button [routerLink]="['/owner-dashboard/groups', group.idRecipe]" class="btn btn-primary btn-block">Visualize orders details</button>
              </td>
              <td *ngIf="!group.idRecipe"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
