<div class="container mt-5">
  <div class="text-center">
    <h2>Welcome to Restaurant Manager</h2>
    <p class="lead">Please log in or sign up to continue.</p>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <button class="btn btn-primary btn-lg mr-3" (click)="showLogin = true">Login</button>
    <button class="btn btn-secondary btn-lg" (click)="showLogin = false">Signup</button>
  </div>

  <div class="mt-4">
    <div *ngIf="showLogin">
      <app-login-user></app-login-user>
    </div>
    <div *ngIf="!showLogin">
      <app-signup-user></app-signup-user>
    </div>
  </div>
</div>





