<div class="container mt-4">
  <h2>Tavoli</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let table of tables">
      <div class="card mb-4">
        <div class="card-body" [ngClass]="{'bg-warning': table.group !== null, 'bg-success': table.group === null}">
          <h5 class="card-title">{{ table.tableNumber }}</h5>
          <p class="card-text">Posti Massimi: {{ table.maxSeats }}</p>
          <ng-container *ngIf="table.group !== null">
            <button class="btn btn-danger" (click)="removeCustomer(table._id)">Remove Customer</button>
            <hr>
            <button class="btn btn-primary" (click)="calculateRecipe(table._id)">Calculate Recipe</button>
            <hr>
            <button class="btn btn-primary" (click)="toggleTableDetails(table._id)">Visualize Orders</button>
            <hr>
            <!-- Mostra l'accordion solo se il tavolo è selezionato -->
            <ng-container *ngIf="selectedTable === table._id">




                    <!-- Aggiungi questo blocco di codice all'interno del tuo HTML -->
                    <div *ngIf="ordersForTable.length > 0">
                      <h5>Ordini per il tavolo</h5>
                      <ul>
                        <li *ngFor="let order of ordersForTable">
                          <!-- Mostra i dettagli dell'ordine -->
                          <p>Stato dell'ordine: {{ order.state }}</p>
                          <p>Data di inizio: {{ order.timeStarted | date:'dd/MM/yyyy HH:mm:ss' }}</p>

                          <ul>
                            <li *ngFor="let item of order.items">
                              <p>Nome : {{ findItemName(item.idItem) }}, Quantità: {{ item.count }}</p>
                              <!-- Altri dettagli dell'item se necessario -->
                            </li>
                          </ul>

                          <!-- Ora puoi aggiungere altre proprietà dell'ordine se necessario -->
                        </li>
                      </ul>
                    </div>



            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
