<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h3 class="bg-primary text-white p-2">Cashiers</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="w-25">Username</th>
            <th class="w-25">Email</th>
            <th class="w-25">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cashier of cashiers">
            <td>{{ cashier.username }}</td>
            <td>{{ cashier.email }}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteCashier(cashier._id)">Delete Cashier</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <h3 class="bg-success text-white p-2">Waiters</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="w-25">Username</th>
            <th class="w-25">Email</th>
            <th class="w-25">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let waiter of waiters">
            <td>{{ waiter.username }}</td>
            <td>{{ waiter.email }}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteWaiter(waiter._id)">Delete Waiter</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <h3 class="bg-danger text-white p-2">Cooks</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="w-25">Username</th>
            <th class="w-25">Email</th>
            <th class="w-25">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cook of cooks">
            <td>{{ cook.username }}</td>
            <td>{{ cook.email }}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteCook(cook._id)">Delete Cook</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <h3 class="bg-warning text-white p-2">Bartenders</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="w-25">Username</th>
            <th class="w-25">Email</th>
            <th class="w-25">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bartender of bartenders">
            <td>{{ bartender.username }}</td>
            <td>{{ bartender.email }}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteBartender(bartender._id)">Delete Bartender</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


