<div class="container">
  <h3>Orders Queue</h3>
  <div class="row">
    <ng-container *ngIf="orders.length > 0; else emptyQueue">
      <div class="col-md-6" *ngFor="let order of orders">
        <div [ngClass]="{'bg-success': isOrderCompleted(order), 'bg-danger': !isOrderCompleted(order)}" class="card mb-4">
          <div class="card-body">
            <p class="card-text">
              <strong>Start Date:</strong> {{ order.timeStarted | date:'dd/MM HH:mm'}}
            </p>
            <hr>

            <h4>Order Items</h4>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of order.items" [ngClass]="{'bg-success': item.state === 'completed', 'bg-danger': item.state === 'notcompleted'}">
                <p>
                  <strong>Product:</strong> {{ findItemName(item.idItem) }}
                </p>
                <p>
                  <strong>Quantity:</strong> {{ item.count }}
                </p>
                <p>
                  <strong>Status:</strong> {{ item.state === 'completed' ? 'Completed' : 'Not Completed' }}
                </p>
                <button class="btn btn-primary" (click)="itemCompleted(order.tableId, order._id, item.idItem)" *ngIf="item.state === 'notcompleted'">
                  Item Finished
                </button>
              </li>
            </ul>

            <button class="btn btn-primary" (click)="orderCompleted(order.tableId, order._id)" *ngIf="isOrderCompleted(order)">
              Order Finished
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyQueue>
      <p>Any order at the moment.</p>
    </ng-template>
  </div>
</div>


