
<div *ngIf="isLogged(); else notLoggedIn">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand-container d-flex justify-content-center align-items-center">
      <a class="navbar-brand"> Il Tuo Ristorante</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="isLogged()">
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
  <div class="alert alert-success">
    Benvenuto! Hai effettuato l'accesso.

  </div>
  <div class="alert alert-info mt-3">
    ID del ristorante: {{ getRestaurant() }}
  </div>

  <div [ngSwitch]="getRule()">
    <ng-container *ngSwitchCase="'owner'">
      <app-owner></app-owner>
    </ng-container>
    <ng-container *ngSwitchCase="'cashier'">
      <app-cashier></app-cashier>
    </ng-container>
    <ng-container *ngSwitchCase="'waiter'">
      <app-waiter></app-waiter>
    </ng-container>
    <ng-container *ngSwitchCase="'bartender'">
      <app-bartender></app-bartender>
    </ng-container>
    <ng-container *ngSwitchCase="'cook'">
      <app-cook></app-cook>
    </ng-container>
  </div>

</div>

<ng-template #notLoggedIn>
  <div class="container mt-5">
    <app-authentication></app-authentication>
  </div>
</ng-template>




